body{
    background-color: rgb(238, 211, 235);
    padding: auto;
}


img{
    border-radius: 10px;
    max-width: 100%;
    height:auto
}

.center{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(10%,-50%);
    width: 100%;
    margin: 20px 40px 50px 260px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: 80%;
    overflow-y: auto;
    padding: 0px;
    width: 50%;
    background-color: #fff;
    
}
header{
    font-size: 30px ;
    font-family: bree serif;
    margin-left: 0px;
}
h2{
    margin-left: 0px;
}
.time{
    margin-left: 50px;
}
table{
    width: 100%;
    
}
th, td{
    border-bottom: 0.5px solid #e4d1d1;
}
td{
    padding: 8px;
}
ol li::marker{
    color: brown ;
}

@media screen and (max-width: 600px) {
    .center{
        width: 100%;
        align-items: center;
        justify-content: center;
        height: auto;
    }
}